/* ----- GLOBAL ----- */
:root {
	--color-background: #1D1E20;
	--color-secondary-text: #A5A7AB;
	--color-primary-text: #F5F7FA;
	--color-accent-1: #18181a;
	--color-accent-2: #607d9e;
	--color-gradient: linear-gradient(90deg, #89B3E3, #CBDBEE);
}

@media (prefers-color-scheme: light) {
	:root {
		--color-background: #F5F7FA;
		--color-secondary-text: #1a1a1d;
		--color-primary-text: #1D1E20;
		--color-accent-1: #e2eaf7;
		--color-accent-2: #607d9e;
		--color-gradient: linear-gradient(90deg, #4881c2, #9dadc0);		
	}
}

body {
	background-color: var(--color-background);
	color: var(--color-secondary-text);
	line-height: 1.7;
	letter-spacing: 0.015625rem;
	font-weight: 300;
}

h1,
h2,
h3,
h4 {
	font-weight: 600;
	line-height: 1.45;
	color: var(--color-primary-text);
	margin-bottom: 0.5rem;
}

h1 {
	font-size: 1.75rem;
	margin-bottom: 1rem;
}

h2 {
	font-size: 1.375rem;
	margin-bottom: 1rem;
}

h3 {
	font-size: 1.125rem;
}

p {
	margin-bottom: 1.35rem;
}

p:last-of-type {
	margin-bottom: 0.75rem;
}

a {
	color: var(--color-primary-text);
	background: var(--color-gradient);
	background-clip: text;
	font-weight: 400;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	position: relative;
}

blockquote {
	padding-left: 1rem;
	border-left: 0.1875rem solid var(--color-secondary-text);
	margin-bottom: 1.35rem;
}

.content a:not([class]) {
	border-bottom: 1px solid var(--color-accent-2);
}

.content a:not([class]):hover,
.content a:not([class]):focus {
	border-bottom: none;
}

footer {
	font-weight: 300;
	padding-bottom: 2rem;
}

.container {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	max-width: 62.5rem;
	margin: 0 auto;
}

.container--small {
	max-width: 65ch;
}

.section {
	margin: 4rem 0;
}

.cta {
	font-weight: 500;
	margin-top: 0;
	transition: padding .15s ease-in-out;
}

.cta:hover {
	padding-left: 0.5rem;
}

.cta::after {
	content: " →";
}

.subtitle {
	width: fit-content;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.45;
	color: var(--color-primary-text);
	background: var(--color-gradient);
	background-clip: text;
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.subtitle--large {
	font-size: 1.125rem;
}

.connect {
	display: grid;
	gap: 0.5rem;
}

.connect__item {
	display: grid;
	grid-template-columns: 1fr 1fr;
	max-width: 16rem;
}

.content {
	margin-top: 2rem;
}

.content h2 {
	margin-top: 2rem;
}

.content img {
	margin: 1.5rem 0;
}

.title-with-icon {
	display: flex;
}

.title-with-icon > img {
	border-radius: 50%;
	margin-right: 1rem;
	object-fit: fill;
	width: 3.5rem;
	height: 100%;
	transform: translateY(-0.5rem);
}

@media screen and (min-width: 45em) {
	h1 {
		font-size: 2rem;
	}

	h2 {
		font-size: 1.5rem;
	}

	h3 {
		font-size: 1.25rem;
	}

	blockquote {
		margin-left: 1.5rem;
		padding-left: 1.5rem;
	}

	.subtitle {
		font-size: 1.125rem;
	}

	.subtitle--large {
		font-size: 1.25rem;
	}
}

/* ----- NAV ----- */
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 2rem 0;
	position: relative;
}

.nav__title,
.nav__item-link {
	background: unset;
	background-clip: unset;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}

.nav__title {
	font-size: 1.125rem;
	line-height: 1;
	transition: color .15s ease-in-out;
	color: var(--color-secondary-text);
}

.nav__title:hover {
	color: var(--color-primary-text);
}

.nav__hamburger {
	width: 1.25rem;
	height: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	cursor: pointer;
	position: relative;
	z-index: 1;
}

.nav__hamburger-line {
	background: var(--color-secondary-text);
	width: 100%;
	height: 0.0625rem;
	transition: all .15s ease-in-out;
}

.nav__hamburger-line--1 { width: 100%; }
.nav__hamburger-line--2 { width: 75%; }
.nav__hamburger-line--3 { width: 50%; }

.nav__hamburger:hover .nav__hamburger-line {
	background: var(--color-primary-text);
}

.nav__hamburger:hover .nav__hamburger-line--1 {
	width: 50%;
}
.nav__hamburger:hover .nav__hamburger-line--3 {
	width: 100%;
}

.nav__list {
	--padding: 0.75rem;
	--negative-padding: calc(var(--padding) * -1);

	position: absolute;
	top: var(--negative-padding);
	right: var(--negative-padding);
	background: var(--color-accent-1);
	list-style: none;
	color: var(--color-primary-text);
	padding: var(--padding);
	border-radius: 0.5rem;
	min-width: 12rem;
	margin: 0;
	z-index: 0;
}

.nav__dropdown[open] .nav__list {
	animation: fadeIn .15s ease-in-out;
}

.nav__item {
	opacity: 1;
	transition: opacity 0.15s ease-in-out;
}

.nav__item-link {
	display: block;
	width: 100%;
}

.nav__item:not(:last-child) {
	margin-bottom: 0.5rem;
}

.nav__item:hover,
.nav__item:focus {
	opacity: 0.8;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* ----- BLOG ----- */
.blog {
	--spacing: 0.5rem;

	display: grid;
	gap: 1rem;
}

.blog__post {
	padding: 1rem;
	background: var(--color-accent-1);
	border-radius: 0.5rem;
}

.blog__title {
	display: inline-block;
	margin-bottom: var(--spacing);
	font-size: 1.125rem;
	font-weight: 500;
	background: unset;
	background-clip: unset;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
	transition: opacity .15s ease-in-out;
}

.blog__title:hover {
	opacity: 0.8;
}

.blog__excerpt {
	display: block;
	margin-bottom: var(--spacing);
}

.read-time {
	display: block;
	margin-top: 1rem;
}

@media screen and (min-width: 45em) {
	.blog {
		grid-template-columns: repeat(2, 1fr);
	}

	.blog__post {
		padding: 1.5rem;
	}
}
