---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Page Not Found" description="The page you are looking for does not exist.">
  <main class="container">
    <div class="section">
      <h1>Whoops, something went wrong :/</h1>
      <p>404 Error: Page not found</p>
    </div>
    <div class="section">
      <p>
        <a href="/">Return home</a>
      </p>
    </div>
  </main>
</Layout>
