---
import { formatBakes } from '../utils'
import { getCollection } from 'astro:content'
import Layout from '../layouts/Layout.astro'

const currentYear = new Date().getFullYear()

const bakes = formatBakes(await getCollection('bakes'))
bakes.sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
---

<Layout
  title="Baking Log - Greg Skriloff"
  description="A personal sourdough baking log."
  image={[
    'https://gregskril.com/img/baking/og-1.webp',
    'https://gregskril.com/img/baking/og-2.webp',
    'https://gregskril.com/img/baking/og-3.webp',
  ]}
>
  <main class="container">
    <div class="section">
      <a class="bake-back" href="/">← Home</a>
      <h1>Baking Log</h1>
      <div class="content">
        <ul>
          {
            bakes.map((bake) => {
              const bakeDate = bake.data.date
              const isThisYear = bakeDate.getFullYear() === currentYear
              const formatted = new Intl.DateTimeFormat('en-US', {
                year: isThisYear ? undefined : 'numeric',
                day: 'numeric',
                month: 'short',
              }).format(bakeDate)

              return (
                <li>
                  <a href={`/baking/${bake.id}`}>
                    {formatted} - {bake.data.title}
                  </a>
                </li>
              )
            })
          }
        </ul>
        <p style="color: var(--color-secondary-text); font-size: 0.875rem;">
          ...and dozens of other loaves before I started this log. See some on <a
            href="https://goodbread.nyc/?ref=gregskril.com"
            target="_blank"
            rel="noopener">goodbread.nyc</a
          >
        </p>
      </div>
    </div>
  </main>
</Layout>
