---
import { getCollection } from 'astro:content'
import Layout from '../layouts/Layout.astro'
import ProjectFeed from '../components/ProjectFeed.astro'
import ProfileHeader from '../components/ProfileHeader.astro'
import Socials from '../components/Socials.astro'

const projects = await getCollection('projects')
projects.sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
---

<Layout
  title="Greg Skriloff"
  description="I like baking and building software, usually in the crypto space."
>
  <link
    slot="head"
    rel="alternate"
    type="application/rss+xml"
    title="RSS"
    href="/rss.xml"
  />
  <main class="container">
    <div class="section" style="margin-top: 4.5rem; margin-bottom: -1.5rem;">
      <ProfileHeader />
    </div>
    <div class="section">
      <h3 class="section__title">About</h3>
      <p>
        I like
        <a href="/baking">baking</a>
        and building software, usually in the crypto space. I work as a Developer Relations Engineer at
        <a href="https://ens.domains/" target="_blank">ENS Labs</a>.
      </p>
    </div>
    <div class="section">
      <h3 class="section__title section__title--mb" id="projects">Side Projects</h3>
      <ProjectFeed projects={projects} />
    </div>
    <Socials />
  </main>
</Layout>
