---
import { render, type CollectionEntry } from 'astro:content'

interface Props {
  projects: CollectionEntry<'projects'>[]
}

const { projects } = Astro.props
---

<div class="connect connect--spacing">
  {
    projects.map(async (project) => {
      const { Content } = await render(project)

      return (
        <div class="connect__item">
          <span>
            {new Intl.DateTimeFormat('en-US', {
              year: 'numeric',
              month: 'short',
            }).format(new Date(project.data.date))}
          </span>
          <div class="project">
            <a
              class="connect__link"
              href={project.data.url}
              target="_blank"
              rel="noopener"
            >
              {project.data.title}
            </a>
            <Content />
          </div>
        </div>
      )
    })
  }
</div>
