---
eleventyExcludeFromCollections: true
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32.png">
	<link rel="icon" type="image/png" sizes="64x64" href="/img/favicon-64.png">

	<title>About - Greg Skriloff</title>
	<meta name="description" content="I'm Greg - a maker of all sorts of things. I'm from New York, but currently live in Philadelphia studying Entrepreneurship, Marketing, and Interactive Digital Media.">
	<meta property="og:title" content="About - Greg Skriloff">
    <meta property="og:description" content="Creating stuff on the internet.">
    <meta property="og:image" content="https://banners.beyondco.de/About%20Me.png?theme=dark&style=style_2&pattern=texture&description=&md=0&showWatermark=0&fontSize=100px&images=x&widths=0&heights=0">
	<link rel="canonical" href="https://gregskril.com/{{page.fileSlug}}/">

	{% include "./_includes/partials/head.njk" %}
</head>
<body>
	{% include "./_includes/partials/header.njk" %}

	<main class="container">
		<div class="section">
			<div class="title-with-icon">
				<img src="/img/profile.jpg" width="42" height="42" alt="Greg Skriloff">
				<h1>About Me</h1>
			</div>
			{# <h2 class="subtitle">Trying to make cool things.</h2> #}
			<div class="content">
				<p>Hey, I'm Greg. I grew up in New York, recently graduated college in Philadelphia, and now planning to travel while working remotely in web3.</p>
				<p>I've been building basic websites since the beginning of high school but just started diving deeper into coding in May of 2021. My first "real" coding project was a <a href="https://doge.gregskril.com/">cryptocurrency trading bot</a>. This led me down the path of exploring web3 and cryptocurrencies in more detail until I really started spending all my time in the space by August of 2021. I've been going further down the rabbit hole ever since.</p>
				<p>My approach to web3 is <a href="/projects">learn by building</a>. I don't consider myself a great developer by technical standards, but enjoy rapidly prototyping ideas and experimenting as much as possible.</p>
			</div>
		</div>

		{% include "./_includes/partials/socials.njk" %}
	</main>

	{% include "./_includes/partials/footer.njk" %}
	
</body>
</html>
