---
eleventyExcludeFromCollections: true
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/img/favicon-64.png">
    <link rel="icon" type="image/png" sizes="128x128" href="/img/favicon-128.png">
    <title>About - Greg Skriloff</title>
    <meta
      name="description"
      content="I grew up in New York, went to school in Philadelphia, and now build apps on web3 protocols.">
    <meta property="og:title" content="About - Greg Skriloff">
    <meta
      property="og:description"
      content="I grew up in New York, went to school in Philadelphia, and now build apps on web3 protocols.">
    <meta
      property="og:image"
      content="https://banners.beyondco.de/About%20Me.png?theme=dark&style=style_2&pattern=texture&description=&md=0&showWatermark=0&fontSize=100px&images=x&widths=0&heights=0">
    <link rel="canonical" href="https://gregskril.com/{{ page.fileSlug }}/">
    {% include "./_includes/partials/head.njk" %}
  </head>
  <body>
    <main class="container">
      <div class="section" style="margin-top: 4.5rem;">
        <div class="profile-header">
          <a href="/">
            <img class="profile-header__pfp" src="/img/profile.jpg" width="76" height="76" alt="gregskril profile picture">
          </a>
          <div class="profile-header__text-wrapper">
            <h2 class="profile-header__name">Greg</h2>
            <span class="profile-header__location">New York</span>
          </div>
        </div>
        <div class="content">
          <p>I like
            <a href="https://goodbread.nyc/?ref=gregskril.com" target="_blank">baking</a>
            and building apps on web3 protocols. I work as a Developer Relations Engineer at
            <a href="https://ens.domains/" target="_blank">ENS</a>.
          </p>
          <p>I've been interested in technology for as long as I can remember, but didn't dive deep into coding until May of 2021.
            My first "real" coding project was a
            <a href="https://doge.gregskril.com/">cryptocurrency trading bot</a>. This led me down the path of exploring web3/crypto
              in more detail until I really started spending all my time in the space by August of 2021.</p>
          <p>I like to
            <a href="/#projects">learn by building</a>.</p>
        </div>
      </div>
      {% include "./_includes/partials/socials.njk" %}
    </main>
  </body>
</html>