---
permalink: about.html
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>About - Greg Skriloff</title>
	<meta name="description" content="I'm Greg - a maker of all sorts of things. I'm from New York, but currently live in Philadelphia studying Entrepreneurship, Marketing, and Interactive Digital Media.">
	<meta property="og:title" content="About - Greg Skriloff">
    <meta property="og:description" content="I'm Greg - a maker of all sorts of things. I'm from New York, but currently live in Philadelphia studying Entrepreneurship, Marketing, and Interactive Digital Media.">
    <meta property="og:image" content="">
	<link rel="canonical" href="https://gregskril.com/{{page.fileSlug}}.html">

	{% include "./_includes/partials/head.njk" %}
</head>
<body>
	{% include "./_includes/partials/header.njk" %}

	<main class="container">
		<div class="section">
			<div class="title-with-icon">
				<img src="/img/profile.jpg" width="42" height="42" alt="Greg Skriloff">
				<h1>About Me</h1>
			</div>
			<h2 class="subtitle">Just trying to make cool things.</h2>
			<div class="content">
				<p>Hey, I'm Greg - a maker of all sorts of things. I'm from the suburbs of New York City, but currently live in Philadelphia studying Entrepreneurship, Marketing, and Interactive Digital Media.</p>
				<p>Outside of school I spend my time dabbling with anything that catches my attention - recently anything at the intersection of technology and art catches my attention. Cryptocurrencies, web3, NFTs, website design, photography, etc. are all things of interest at the moment.</p>
				<p>Besides personal projects, I work as a freelance website developer and help uncover new opportunities at Beautiful Destinations, a creative agency with one of the largest travel communities on social media with 30M+ followers.</p>
				<p>My core passions revolve around tech, creativity, and travel which all tie directly into my work. I have always been interested in creating and building small businesses, and the short-term goal is to build nimble online businesses while living the <a href="https://www.youtube.com/watch?v=_4-VErnEAq4" target="_blank">slow travel lifestyle</a>.</p>
			</div>
		</div>

		{% include "./_includes/partials/socials.njk" %}
	</main>

	{% include "./_includes/partials/footer.njk" %}
	
</body>
</html>
