---
eleventyExcludeFromCollections: true
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/img/favicon-64.png">
    <link rel="icon" type="image/png" sizes="128x128" href="/img/favicon-128.png">
    <title>Blog - Greg Skriloff</title>
    <meta name="description" content="Thoughts and tutorials on tech, crypto, and life.">
    <meta property="og:title" content="Blog - Greg Skriloff">
    <meta property="og:description" content="Thoughts and tutorials on tech and crypto.">
    <meta
      property="og:image"
      content="https://banners.beyondco.de/Blog.png?theme=dark&style=style_2&pattern=texture&description=Tech%20and%20crypto&md=0&showWatermark=0&fontSize=100px&images=x&widths=0&heights=0">
    <link rel="canonical" href="https://gregskril.com/{{ page.fileSlug }}/">
    {% include "./_includes/partials/head.njk" %}
  </head>
  <body>
    <main class="container">
      <div class="section">
        <h1>Blog</h1>
        <div class="content">
          <div class="blog">
            {% for article in collections.blog | reverse %}
              <div class="blog__post">
                <a href="{{ article.url | url }}" class="blog__title">{{ article.data.title }}</a>
                <div class="blog__meta">
                  <span class="blog__date">{{ article.date | postDate }}</span>
                </div>
                <span class="blog__excerpt">{{ article.data.description }}</span>
                <a class="cta" href="{{ article.url | url }}">Read</a>
              </div>
            {% endfor %}
            <a href="/">Home</a>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>