---
eleventyExcludeFromCollections: true
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32.png">
	<link rel="icon" type="image/png" sizes="64x64" href="/img/favicon-64.png">
	
	<title>Code - Greg Skriloff</title>
	<meta name="description" content="Sharing my learnings and experiments with web development, bots, and more.">
	<meta property="og:title" content="Code - Greg Skriloff">
    <meta property="og:description" content="Sharing my learnings and experiments with web development, bots, and more.">
    <meta property="og:image" content="https://banners.beyondco.de/Code.png?theme=dark&style=style_2&pattern=texture&description=Blog&md=0&showWatermark=0&fontSize=100px&images=x&widths=0&heights=0">
	<link rel="canonical" href="https://gregskril.com/{{page.fileSlug}}/">

	{% include "./_includes/partials/head.njk" %}
</head>
<body>
	{% include "./_includes/partials/header.njk" %}

	<main class="container">
		<div class="section">
			<h1>Crypto</h1>
			<h2 class="subtitle">Sharing my learnings and experiments with web development, bots, and more.</h2>
			<div class="content">
				<div class="blog">
					{% for article in collections.code | reverse %}
						<div class="blog__post">
							<a href="{{ article.url | url }}" class="blog__title">{{ article.data.title }}</a>
							<div class="blog__meta">
								<span class="blog__date">{{ article.date | postDate }}</span>
							</div>
							<span class="blog__excerpt">{{ article.data.description }}</span>
							<a class="cta" href="{{ article.url | url }}">Read</a>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</main>

	{% include "./_includes/partials/footer.njk" %}

</body>
</html>
