---
eleventyExcludeFromCollections: true
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32.png">
  <link rel="icon" type="image/png" sizes="64x64" href="/img/favicon-64.png">

  <title>Greg Skriloff</title>
  <meta name="description" content="I'm Greg - a developer and photographer living between New York and Philadelphia.">
    <meta property="og:title" content="Greg Skriloff">
    <meta property="og:description" content="Creating stuff on the internet.">
    <meta property="og:image" content="https://banners.beyondco.de/Greg%20Skriloff.png?theme=dark&style=style_2&pattern=texture&description=Just%20trying%20to%20make%20cool%20things.&md=0&showWatermark=0&fontSize=100px&images=x&widths=0&heights=0">
  <link rel="canonical" href="https://gregskril.com">

  {% include "./_includes/partials/head.njk" %}
</head>
<body>
  <main class="container">
    <div class="section">
      <h3>About Me</h3>
      <p>I grew up in New York, recently graduated college in Philadelphia, and now traveling while working remotely in web3.</p>
      <a class="cta" href="/about/">Read more</a>
    </div>

    <div class="section">
      <h3>Recent Projects</h3>
      <ul>
        {% for project in collections.project | reverse | limit(6) %}
        <li>
          <a href="{{project.data.url | url}}" target="_blank" rel="noopener">{{project.data.title}}</a>
        </li>
        {% endfor %}
      </ul>
      <a class="cta" href="/projects/">See more</a>
    </div>

    {% include "./_includes/partials/socials.njk" %}
  </main>

</body>
</html>
