---
eleventyExcludeFromCollections: true
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/img/favicon-64.png">
    <link rel="icon" type="image/png" sizes="128x128" href="/img/favicon-128.png">
    <title>Greg Skriloff</title>
    <meta name="description" content="Let's connect!">
    <meta property="og:description" content="Let's connect!">
    <meta property="og:image" content="https://gregskril.com/img/banner.jpg">
    <meta name="robots" content="noindex">
    {% include "./_includes/partials/head.njk" %}
  </head>
  <body>
    <main class="container">
      <div class="section" style="margin-top: 4.5rem; margin-bottom: -1.5rem;">
        <div class="profile-header">
          <img class="profile-header__pfp" src="/img/profile.jpg" width="76" height="76" alt="gregskril profile picture">
          <div class="profile-header__text-wrapper">
            <h2 class="profile-header__name">Greg Skriloff</h2>
            <a class="profile-header__location" href="https://ens.domains/" target="_blank">ENS Labs</a>
          </div>
        </div>
      </div>
      <div class="section event-specific">
        <h3 class="section__title">Nice meeting you!</h3>
        <p>
          Let's stay in touch so I can help with anything ENS related you might be working on.</p>
      </div>
      <div class="section">
        <h3 class="section__title section__title--mb">Contact</h3>
        <div
          class="connect">
          {# <div class="connect__item connect__item--horizontal">
                    <span>Farcaster</span>
                    <a class="connect__link" href="https://warpcast.com/greg" target="_blank" rel="noopener">greg</a>
                  </div>
                  <div class="connect__item connect__item--horizontal">
                    <span>GitHub</span>
                    <a class="connect__link" href="https://github.com/gskril" target="_blank" rel="noopener">gskril</a>
                  </div> #}
          <div class="connect__item connect__item--horizontal">
            <span>Email</span>
            <a class="connect__link" href="mailto:greg@ens.domains" target="_blank" rel="noopener">greg@ens.domains</a>
          </div>
          <div class="connect__item connect__item--horizontal">
            <span>Twitter</span>
            <a class="connect__link" href="https://twitter.com/gregskril" target="_blank" rel="noopener">gregskril</a>
          </div>
          <div class="connect__item connect__item--horizontal">
            <span>Telegram</span>
            <a class="connect__link" href="https://t.me/gregskril" target="_blank" rel="noopener">gregskril</a>
          </div>
        </div>
      </div>
    </main>
    <script>
      const queryString = window.location.search;
      const urlParams = new URLSearchParams(queryString);
      const eventTitle = urlParams.get('event');
      const intro = document.querySelector('.event-specific');
      if (eventTitle) {
        const title = intro.querySelector('h3');
        title.innerHTML = `Nice meeting you at ${eventTitle}!`
      }
    </script>
  </body>
</html>