<meta property="og:type" content="website">
<meta property="og:locale" content="en_US">
<meta property="og:site_name" content="Greg Skriloff">
<meta name="twitter:card" content="summary_large_image">

<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/style.css">

<script defer data-domain="gregskril.com" src="https://plausible.io/js/plausible.js"></script>
