
<header class="container">
	<nav class="nav">
		<a href="/" class="nav__title">Greg Skriloff</a>
		<details class="nav__dropdown">
			<summary class="nav__hamburger">
				<span class="nav__hamburger-line nav__hamburger-line--1"></span>
				<span class="nav__hamburger-line nav__hamburger-line--2"></span>
				<span class="nav__hamburger-line nav__hamburger-line--3"></span>
			</summary>
			<ul class="nav__list">
				<li class="nav__item">
					<a href="/blog/" class="nav__item-link">Blog</a>
				</li>
				<li class="nav__item">
					<a href="/about/" class="nav__item-link">About</a>
				</li>
				<li class="nav__item">
					<a href="/projects/" class="nav__item-link">Projects</a>
				</li>
			</ul>
		</details>
	</nav>
</header>