<div class="section">
  <h3>Connect with me</h3>
  <div class="connect">
    <div class="connect__item">
      <span>Email</span>
      <span>g [at] gregskril.com</span>
    </div>
    <div class="connect__item">
      <span>Twitter</span>
      <a href="https://twitter.com/gregskril" target="_blank" rel="noopener">gregskril</a>
    </div>
    <div class="connect__item">
      <span>GitHub</span>
      <a href="https://github.com/gskril" target="_blank" rel="noopener">gskril</a>
    </div>
    <div class="connect__item">
      <span>Farcaster</span>
      <a href="https://warpcast.com/greg" target="_blank" rel="noopener">greg</a>
    </div>
  </div>
</div>