
<div class="section">
	<h3>Connect with me</h3>
	<div class="connect">
		<div class="connect__item">
			<span>Twitter</span>
			<a href="https://twitter.com/gregskril">gregskril</a>
		</div>
		<div class="connect__item">
			<span>Instagram</span>
			<a href="https://instagram.com/gregskril">gregskril</a>
		</div>
		<div class="connect__item">
			<span>GitHub</span>
			<a href="https://github.com/gskril">gskril</a>
		</div>
	</div>
</div>